.css-j5r0tf {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #7E99AB;
}

.diabetes {
    color: #fff;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
}

.diabetes.negative {
    background-color: #01DB4B
}

.diabetes.positive {
    background-color: #ff4b4b
}